bif
henon
mandelcheckpercent
mandeldump
mandelmakeoutline
mandelmakepic
mandelnumbers
mandelreadpicspec
mandelupddump
mandelxform
mandelxform_mpf
thmand
Makefile
config.cache
config.h
config.log
config.status
*.o
*.def
*.jpg
*.mdump
*.tga
*~
#*#
